*{
    box-sizing: border-box;
    padding: 0;
    margin: 0
}
body{
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
}
/* make card where content will live*/
.card{
    background-color: hsl(0, 0%, 100%);
    margin-top: 100px;
    width: 670px;
    height: 1700px;
    border-radius: 20px;
    padding-top: 45px;
    margin-bottom: 30px;
}
img{
    width: 590px;
    height: 270px;
    display: block;
    margin: auto;
    border-radius: 10px;
}
h1, .omelette{
    margin-left: 40px;
}
h1, h3, h4, h5{
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
    margin-top: 30px;
}
h1{
    margin-top: 30px;
    color: #1d1d1c;
}
.omelette{
    font-family: 'Outfit', sans-serif;
    color: #83817f;
    margin-right: 50px;
    margin-top: 20px;
}
.omelette, .times, h6{
    font-size: .9rem;
}
/* first section*/
.prep-time{
    background-color: #fff7fc;
    width: 590px;
    height: 150px;
    margin: auto;
    font-family: 'Outfit', sans-serif;
    color: #632139;
    margin-top: 30px;
    border-radius: 10px;
}
.times{
    padding-top: 20px;
    padding-left: 25px;
    font-size: 1rem;
    font-weight: 600;
}
.time{
    margin-left: 50px;
    margin-top: 20px;
}
.time, .eggs{
    font-size: .9rem;
}
.time li{
    color: #766e6e;
    margin-bottom: 10px;
    font-weight: 400;
}
.prep{
    font-weight: 600;
    color: #544b4e;
    margin-right: 2px;
}
h3, h4, h5{
    font-size: 1.8rem;
    color: #3b1e17;
}
/* second section and third section*/
.ingredients, .instructions, .calories, .carbs, .protein, .fat{
    border-bottom: 1px solid #eaeaea;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 11px;
}
/* instruction class is from third section*/ 
.eggs, .instruction{
    margin-left: 50px;
    font-family: 'Outfit',sans-serif;
    margin-top: 20px;
}
.eggs li, .instruction li{
    color: hsl(332, 51%, 32%);
    margin-bottom: 15px;
    font-weight: 500;
    padding-left: 10px;
    font-size: .8rem;
}
.instruction{
    margin-left: 35px;
}
.instruction li{
    font-size: .9rem;
}
.bowl, .instruction li::before{
    font-size: .9rem;
    color: #535059;
    font-weight: 600;
    margin-right: 2px;
}
h5{
    margin-left: 30px;
}
h6, .calorie{
    font-weight: 400;
    color: #717171;
    font-family: 'Outfit', sans-serif;
    margin-left: 30px;
    margin-top: 20px;
}
.calories, .carbs, .protein, .fat{
    display: flex;
    justify-content: space-between;
}
.value{
    color: hsl(332, 51%, 32%);
    font-family: 'Outfit', sans-serif;
    font-size: .9rem;
    font-weight: 600;
    margin-top: 20px;
    margin-right: 250px;
}
.gram{
    padding-right: 35px;
}
.grams{
    padding-right: 30px;
}
.fat{
    border: none;
}
@media screen and (max-width: 600px){
    .card{
        width: 340px;
        height: 2000px;
        margin-bottom: 30px;
        padding-top: 0;
        border-radius: 0;
    }
    img{
        width: 340px;
        border-radius: 0;
    }
    .prep-time{
        width: 300px;
    }
    .value{
        margin-right: 70px;
        text-align: center;
    }
}